{% extends 'base.html.twig' %}

{% block title %}Nouveau Mode{% endblock %}
{% block pageActive %} Mode de définition des prix {% endblock %}


{% block content %}

<div class="row">

    <div class="col-5">
        <!--begin::List Widget 9-->
            <div class="card card-custom gutter-b">
                <!--begin::Header-->
                <div class="card-header align-items-center border-0 mt-4">
                    <h3 class="card-title align-items-start flex-column">
                        <span class="font-weight-bolder text-dark">Mode de définition des prix</span>
                        <span class="text-muted mt-3 font-weight-bold font-size-sm">SOMIMAS</span>
                    </h3>
                    <div class="card-toolbar">
                        <div class="dropdown dropdown-inline">
                            <a href="#" class="btn btn-clean btn-hover-light-primary btn-sm btn-icon" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="ki ki-bold-more-hor"></i>
                            </a>
                            
                        </div>
                    </div>
                </div>
                <!--end::Header-->
                <!--begin::Body-->
                <div class="card-body pt-4">
                    <!--begin::Timeline-->
                     <!--begin::Form-->
                        {{ form_start(form) }}
                            {{ include('mode_def/_form.html.twig') }}
                            <div class="card-footer">
                                <button type="submit" id="soum" class="btn btn-primary mr-2">{{ button_label|default('Enregistrer') }}</button>
                                {# <button type="submit" class="btn btn-primary mr-2">Enregistrer</button> #}
                                <button type="reset" onclick="vidage()"  class="btn btn-secondary">Vider</button>
                            </div>
                        {{ form_end(form) }}
                    <!--end::Form-->
                    <!--end::Timeline-->
                </div>
                <!--end: Card Body-->
            </div>
        <!--end: List Widget 9-->
    </div>

    <div class="col-7">
        <!--begin::List Widget 9-->
            <div class="card card-custom card-stretch gutter-b">
                <!--begin::Header-->
                <div class="card-header align-items-center border-0 mt-4">
                    <h3 class="card-title align-items-start flex-column">
                        <span class="font-weight-bolder text-dark">Liste des DEF</span>
                        <span class="text-muted mt-3 font-weight-bold font-size-sm">SOMIMAS</span>
                    </h3>
                    <div class="card-toolbar">
                        <div class="dropdown dropdown-inline">
                            <a href="#" class="btn btn-clean btn-hover-light-primary btn-sm btn-icon" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="ki ki-bold-more-hor"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <!--end::Header-->
                <!--begin::Body-->
                <div class="card-body pt-4">
                    <!--begin: Datatable-->
                        <table class="table table-separate table-head-custom table-checkable dataTable no-footer dtr-inline collapsed" id="test">
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>Libelle</th>
                                <th class="">Action</th>
                            </tr>
                            </thead>
                        </table>
                    <!--end: Datatable-->
                </div>
                <!--end: Card Body-->
            </div>
        <!--end: List Widget 9-->
    </div>
</div>

<!-- Modal-->
<div class="modal fade" id="exampleModalScrollable" tabindex="-1" role="dialog" aria-labelledby="staticBackdrop" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal Title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body" style="height: 300px;">
                
        </div>
    </div>
</div>

{% endblock %}
{% block javascripts %}
{{ parent() }}
<script>


let etat = $('#exampleModalScrollable').is(':visible');
console.log(etat);

    function recharge(){
            $('#test').dataTable().fnClearTable();
            $('#test').dataTable().fnDestroy();
            $('#test').DataTable({
                    language: {
                    search:         "CHERCHER",
                    lengthMenu:    "AFFICHER _MENU_ ELEMENTS",
                    info:           "AFFICHAGE DE _START_ A _END_ SUR _TOTAL_ ENREGISTREMENTS",
                    infoEmpty:      "AFFICHAGE DE 0 A 0 SUR 0 ENREGISTREMENT",
                    loadingRecords: "CHARGEMENT...",
                    zeroRecords:    "AUCUN ELEMENT A AFFICHER",
                    emptyTable:     "AUCUNE DONNEE DISPONIBLE DANS LE TABLEAU",
                    paginate: {
                        "sFirst":      "<<",
                        previous:   "<",
                        next:       ">",
                        "sLast":       ">>"
                    },
                    aria: {
                        sortAscending:  ": activer pour trier la colonne par ordre croissant",
                        sortDescending: ": activer pour trier la colonne par ordre décroissant"
                    }
                    
                },
                'ajax' : {  url:  '{{ path("liste_mode_def_by_ajax") }}',
                        dataSrc: 'data',
                        complete:function(){

                        }
                    },
            'columns' : [
                {"data":"id"},
                {"data":"libelle"},
                {"data":null }
            ],
            columnDefs: [
            {
                targets: -1,
                data: null,
               "render": function (data) {
                let id1 = data.id;
                let libel = data.libelle;;
                    return "<div class='dropdown'><button class='btn btn-secondary dropdown-toggle' type='button' id='dropdownMenuButton' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'> Plus d'option</button><div class='dropdown-menu' aria-labelledby='dropdownMenuButton'><a class='dropdown-item text-center' onclick='modifier("+id1+", \""+libel+"\")' href='#'>Modifier</a><a class='divider' href='#'></a><a class='dropdown-item text-center btn btn-danger' onclick='supprimer("+id1+")' href='#' >Supprimer</a>"
                            //"<divider>   '<a class='dropdown-item' href='#'>Something else here</a>
                            +"</div>"+
                        "</div>";
                }
            },
        ],
    });
   
    }
    function modifier(id,libel){
        $("#mode_def_libelle").val(libel);
        $("#mode_def_id").val(id);
    }

    function supprimer(id){
        Swal.fire({
            title: "Etes-vous sûr de vouloir supprimer cet enregistrement ?",
            text: "Cette action est irréversible" ,
            icon: "warning",
            showCancelButton: true,
            cancelButtonText: "Non",
            confirmButtonText: "Oui"
        }).then(function(result) {
            if (result.value) {
                    $.ajax({
                        url: "{{path('mode_def_delete')}}",
                        method: "POST",
                        data:{ id: JSON.stringify(id)},
                        dataType: "json"
                        })
                        .done(function( data ) {
                            if(data[0] == "Succes"){
                                recharge()
                                Swal.fire(
                                    "Suppression effective",
                                    "L'enregistrement a bien été supprimé. ",
                                    "success"
                                )
                            }else{
                                Swal.fire(
                                    "Suppression effective",
                                    data[1],
                                    "error"
                                )
                            }

                        })
                
                
            }
        });
}
recharge()
function vidage(){
    $("#mode_def_libelle").val("");
    $("#mode_def_id").val("");
}
    
    $("form").submit(function(e){
        $("#soum").addClass("spinner spinner-white spinner-right");
        e.preventDefault();
        let libelle =JSON.stringify( $("#mode_def_libelle").val());
        let id =JSON.stringify( $("#mode_def_id").val());
        //console.log(code,libelle);
        $.ajax({
            url: "{{path('mode_def_new_by_ajax')}}",
            method: "POST",
            data:{ libelle:libelle , id:id},
            dataType: "json"
            })
            .done(function( data ) {
                recharge()
                if(data[0]== "Ajout"){
                    if ( data[1]  == "Enregistrement effectué") {
                        $("#mode_def_libelle").val("");
                        
                        Swal.fire(data[1], "Cliquez ici", "success");
                    }else{
                        Swal.fire(data[1], "Cliquez ici", "error");
                    }
                }else{
                    if ( data[1]  == "Modification effectuée") {
                        $("#mode_def_libelle").val("");
                        $("#mode_def_id").val("");
                        Swal.fire(data[1], "Cliquez ici", "success");
                    }else{
                        Swal.fire(data[1], "Cliquez ici", "error");
                    }
                }
                $("#soum").removeClass("spinner spinner-white spinner-right");
                
            })
            .fail(function(data){
                console.log(data)
                Swal.fire(data, "Cliquez ici", "error");
            });
    });
    
</script>
{% endblock %}
