{% extends 'base.html.twig' %}

{% block title %} ROMAS | Sous Catégorie {% endblock %}
{% block pageActive %} Sous catégorie {% endblock %}

{% block content %}
    <div class="row">
        <div class="col-5">
            <!--begin::List Widget 9-->
                <div class="card card-custom gutter-b">
                    <!--begin::Header-->
                    <div class="card-header align-items-center border-0 mt-4">
                        <h3 class="card-title align-items-start flex-column">
                            <span class="font-weight-bolder text-dark">Sous Catégorie</span>
                            <span class="text-muted mt-3 font-weight-bold font-size-sm">SOMIMAS</span>
                        </h3>
                        <div class="card-toolbar">
                            <div class="dropdown dropdown-inline">
                                <a href="#" class="btn btn-clean btn-hover-light-primary btn-sm btn-icon" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="ki ki-bold-more-hor"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!--end::Header-->
                    <!--begin::Body-->
                    <div class="card-body pt-4">
                        <!--begin::Timeline-->
                        <!--begin::Form-->
                        {{ form_start(form) }}
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-12">
                                        {{ form_widget(form.id) }}
                                    </div>
                                    <div class="col-12">
                                        {{ form_label(form.categorie) }}
                                        {{ form_widget(form.categorie) }}
                                        <span class="form-text text-muted">Selectionnez votre catégorie.</span>
                                    </div>
                                    <div class="col-4">
                                        {{ form_label(form.code) }}
                                        {{ form_widget(form.code) }}
                                        <span class="form-text text-muted">Renseignez un code significatif pour vous.</span>
                                    </div>
                                    <div class="col-8">
                                        {{ form_label(form.libelle) }}
                                        {{ form_widget(form.libelle) }}
                                        <span class="form-text text-muted">Renseignez un libellé significatif pour vous.</span>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary mr-2">Enregistrer</button>
                                <button type="reset" class="btn btn-secondary">Annuler</button>
                            </div>
                        {{ form_end(form) }}
                        <!--end::Form-->
                        <!--end::Timeline-->
                    </div>
                    <!--end: Card Body-->
                </div>
            <!--end: List Widget 9-->
        </div>

        <div class="col-7">
            <!--begin::List Widget 9-->
                <div class="card card-custom card-stretch gutter-b">
                    <!--begin::Header-->
                    <div class="card-header align-items-center border-0 mt-4">
                        <h3 class="card-title align-items-start flex-column">
                            <span class="font-weight-bolder text-dark">Liste des sous catégories</span>
                            <span class="text-muted mt-3 font-weight-bold font-size-sm">SOMIMAS</span>
                        </h3>
                        <div class="card-toolbar">
                            <div class="dropdown dropdown-inline">
                                <a href="#" class="btn btn-clean btn-hover-light-primary btn-sm btn-icon" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="ki ki-bold-more-hor"></i>
                                </a>

                            </div>
                        </div>
                    </div>
                    <!--end::Header-->
                    <!--begin::Body-->
                    <div class="card-body pt-4">
                        <!--begin: Datatable-->
                            <table class="table table-separate table-head-custom table-checkable dataTable no-footer dtr-inline collapsed" id="test">
                                <thead>
                                <tr>
                                    <th>Id</th>
                                    <th class="text-center">Code</th>
                                    <th>Libelle</th>
                                    <th>Catégorie</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                            </table>
                        <!--end: Datatable-->
                    </div>
                    <!--end: Card Body-->
                </div>
            <!--end: List Widget 9-->
        </div>
    </div>
{% endblock %}
{% block javascripts %}
{{ parent() }}
<script>

    function recharge(){
            // $('#test').dataTable().fnClearTable();
            $('#test').dataTable().fnDestroy();
            $('#test').DataTable({
                'ajax' : {  url:  '{{ path("sous_categorie") }}',
                        dataSrc: 'data',
                        complete:function(){
                        }
                    },
                'columns' : [
                    {"data":"id"},
                    {"data":"code"},
                    {"data":"libelle"},
                    {"data":"categorie"},
                    {"data":null }
                ],
                columnDefs: [
                    {
                        targets: -1,
                        data: null,
                        "render": function (data) {
                            let id1 = data.id;
                            let code = data.code;
                            let libel = data.libelle;
                            let cate = data.cateId
                                return "<div class='dropdown'><button class='btn btn-secondary dropdown-toggle' type='button' id='dropdownMenuButton' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'> Plus d'option</button><div class='dropdown-menu' aria-labelledby='dropdownMenuButton'><a class='dropdown-item text-center' href='#' onclick='modifier("+id1+",\""+code+"\",\""+libel+"\","+cate+")'>Modifier</a><a class='divider' href='#'></a><a class='dropdown-item text-center btn btn-danger' onclick='supprimer("+id1+")' href='#' >Supprimer</a>"
                                        +"</div>"+
                                    "</div>";
                        }
                    },
                ],
            });
    }

    function supprimer(id){
        Swal.fire({
            title: "Etes-vous sûr de vouloir supprimer cet enregistrement ?",
            text: "Cette action est irréversible" ,
            icon: "warning",
            showCancelButton: true,
            cancelButtonText: "Non",
            confirmButtonText: "Oui"
        })
        .then(function(result) {
            if (result.value) {
                $.ajax({
                    url: "{{path('sous_categorie_delete')}}",
                    method: "POST",
                    data:{ id: JSON.stringify(id)},
                    dataType: "json"
                })
                .done(function( data ){
                    if(data[0] == "Succes"){
                        recharge();
                        Swal.fire(
                            "Suppression effective",
                            "L'enregistrement a bien été supprimé. ",
                            "success"
                        )
                    }else{
                        Swal.fire(
                            "Suppression effective",
                            data[1],
                            "error"
                        )
                    }
                })
            }
        });
    }

    function modifier(id , code, libelle, categorie){
        $("#sous_categorie_libelle").val(libelle);
        $("#sous_categorie_id").val(id);
        $("#sous_categorie_code").val(code);
        $("#sous_categorie_categorie").val(categorie).change();
    }

    recharge()
    function vidage(){
        $("#sous_categorie_categorie").val('');
        $("#sous_categorie_libelle").val('');
        $("#sous_categorie_code").val('');
        $("#sous_categorie_id").val('');
        return true;
    }
$("form").submit(function(e){
    $("#soum").addClass("spinner spinner-white spinner-right");
        e.preventDefault();
        let libelle = JSON.stringify( $("#sous_categorie_libelle").val());
        let cate = JSON.stringify( $("#sous_categorie_categorie").val());;
        let code =  JSON.stringify( $("#sous_categorie_code").val());
        let id =  JSON.stringify($("#sous_categorie_id").val());
        console.log(cate,libelle);
        if($("#sous_categorie_categorie").val() == ""){
            Swal.fire("Vous avez oublié la catégorie", "Cliquez ici", "error");
            return false;
        }
        if($("#sous_categorie_code").val() == ""){
            Swal.fire("Vous avez oublié le code", "Cliquez ici", "error");
            return false;
        }
        if($("#sous_categorie_libelle").val() == ""){
            Swal.fire("Vous avez oublié le libellé", "Cliquez ici", "error");
            return false;
        }
        $.ajax({
            url: "{{path('sous_categorie_nouveau')}}",
            method: "POST",
            data:{ id:id, code:code, libelle:libelle, categorie:cate },
            dataType: "json"
            })
            .done(function( data ) {
                recharge()

                if(data[0]=="Ajout"){
                    if ( data[1]  == "Enregistrement effectué") {
                        Swal.fire(data[1], "Cliquez ici", "success");
                        $("#sous_categorie_libelle").val('');
                        $("#sous_categorie_code").val('');
                        $("#sous_categorie_id").val('');
                    }else{
                        Swal.fire(data[1], "Cliquez ici", "error");
                    }
                }else{
                    if ( data[1]  == "Modification effectuée") {
                        Swal.fire(data[1], "Cliquez ici", "success");
                       vidage()
                    }else{
                        Swal.fire(data[1], "Cliquez ici", "error");
                    }
                }
                $("#soum").removeClass("spinner spinner-white spinner-right");
                
            })
            .fail(function(data){
                Swal.fire(data, "Cliquez ici", "error");
            })
    });
</script>
{% endblock %}
