{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}
{% block pageActive %} Profil  {% endblock %}
{% block content %}
{% for notice in app.flashes('notice') %}
<div class="alert text-center" style="background-color: #B5DED5;" role="alert">
	<span style="font-size: 20px; ">{{ notice }}</span>
</div>
{% endfor %}
 {{ form_start(form) }}
    <div class="card card-custom" id="kt_card_2">
	<div class="card-header">
		<div class="card-title">
			<h3 class="card-label">RECHERCHE</h3>
		</div>
		<div class="card-toolbar">
			<button type="submit" class="btn btn-primary"   title="Modification de l'utilisateur">
			<i class="ki ki-reload icon-nm"></i>Modifier
			</button>
		</div>
	</div>
	<div class="card-body">
       
             {{ include('registration/reg/_formprofil.html.twig') }}
            <div class="card-footer">
            <button type="submit" class="btn btn-primary"   title="Modification de l'utilisateur">
                <i class="ki ki-reload icon-nm"></i>Modifier
            </button>
            <a type="button" href="{{ path('app_utilisateur_index') }}" class="btn btn-warning">Retour</a>
            </div>
	</div>
</div>
        {{ form_end(form, {render_rest:false}) }}
{% endblock %}
{% block javascripts %}
{{ parent() }}
<script>
	$(".alert").delay(4000).slideUp(200, function() {
		$(this).alert('close');
	});
</script>
{% endblock %}
