{% extends 'base.html.twig' %}
{% block pageActive %} Modif prix {% endblock %}

{% block title %}Produit | GestPrix {% endblock %}

{% block content %}
    <div class="card card-custom">
        <div class="card-header">
            <h3 class="card-title">
                Modification des prix du produit {{ produit.designation }}
            </h3>
            <div class="card-toolbar">
                <div class="example-tools justify-content-center">
                    <span class="example-toggle" data-toggle="tooltip" title="View code"></span>
                    <span class="example-copy" data-toggle="tooltip" title="Copy code"></span>
                </div>
            </div>
        </div>
        <!--begin::Form-->
        {{ form_start(form) }}
            <div class="card-body">
            <div class="row">
                        <div class="col-5">
                            {{ form_label(form.designation) }}
                            {{ form_widget(form.designation) }}
                        </div>
                        <div class="col-3">
                            {{ form_label(form.refUsine) }}
                            {{ form_widget(form.refUsine) }}
                        </div>
                    </div>
                    <div class="card-body p-0">
                        <div class="form-group mb-0">
                            <div class="conditionners"
                                data-index="{{ form.conditionners|length > 0 ? form.conditionners|last.vars.name + 1 : 0 }}"
                                data-prototype="{% autoescape 'html' %}{{ include('produit/prot/_conditionner.html.twig',
                                        { 'form': form.conditionners.vars.prototype  })|escape }}{% endautoescape %}">
                                {% for con in form.conditionners %}
                                    {{ include("produit/prot/_conditionner.html.twig", { form: con }) }}
                                {% endfor %}
                            </div>
                            <button type="button" class="add_item_link btn btn-outline-primary ml-0 mt-5" data-collection-holder-class="conditionners">Ajouter prix par conditionnement</button>
                        </div>
                    </div>
                {# </div> #}
            </div>

            <div class="card-footer">
                <button type="submit" id="enregistre" class="btn btn-primary mr-2">Enregistrer</button>
               <a type="button" href="{{ path('produi_liste') }}" class="btn btn-secondary">Retour</a>
            </div>
        {{ form_end(form, {render_rest:false}) }}
        <!--end::Form-->
    </div>


<!-- Modal-->
<div class="modal fade" id="exampleModalScrollable" tabindex="-1" role="dialog" aria-labelledby="staticBackdrop" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal Title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body" style="height: 300px;">
                <div class="card-body">
                <!--begin: Datatable-->
                    <table class="table table-separate table-head-custom table-checkable dataTable no-footer dtr-inline collapsed" id="test">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th class="text-center">Code</th>
                            <th>Libelle</th>
                            <th>Catégorie</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                    </table>
                <!--end: Datatable-->
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Fermé</button>
                {# <button type="button" class="btn btn-primary font-weight-bold">Save changes</button> #}
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}
{{ parent() }}
    <script>
    $(".format").each(function(i,el){
        this.value = this.value.replace(/[^0-9\.]/g,'');
        let va = parseFloat($(el).val());
        if(va == 0 || isNaN(va) ){
        $(el).val(""); 
        }else{
            $(el).val(new Intl.NumberFormat('fr-FR').format(va))
        }
    });
    $(".supprimer").each(function( index, element ) {
                $(element).remove();
            });
     $('#enregistre').click(function(e){
        $form = $("form");
        e.preventDefault();
            var Paserreur = true;
            
            $("select[name*='[conditionners]']").each(function( index, element ) {
                $(element).removeAttr("disabled");
                $(element).removeAttr("readonly");
            });
            if(Paserreur == true){
                $form.unbind().submit();
            }
            
     })

    $("#produit_designation").attr("readonly","readonly");
    $("#produit_refUsine").attr("readonly","readonly");
    ///console.log($("select[name*='[conditionners]']"));
    $("select[name*='[conditionners]']").each(function( index, element ) {
        let sonPar = $(element).parent();
        $(element).attr("disabled","disabled");
    });
    //$("select[name*='[conditionners]']").parent().attr("readonly","readonly");
        $("select[name*='[conditionnement]']").change(function(){
            let option = $(this).find('option:selected');
            let qteCond = String($(option).attr("data-qte")); 
            let input = $($(this).parent().parent()).next().children().find('input');
            $(input[0]).val(qteCond);
        });
        {% if msg is defined %}
            Swal.fire("{{ msg }}", "Cliquez ici", "error");
        {% endif %}
        $(".tab").click(function(){
            let cont = $(this).attr("href");
            cont = cont.replace("#","");
            let contenu = $("#"+cont);
            let divs = $('div[class*="tab-pane fade i"]');
            $('div[class*="tab-pane fade i"]').each(function(){
                $( this ).removeClass(" show active");
            })
            $('a[class*="nav-link tab i"]').each(function(){
                $( this ).removeClass("active");
            })
            $(this).addClass("active");
            $(contenu).addClass(" show active");
        });

    </script>

    <script>
        $('.supprimer').click(function(){
                let block = $(this).parent().parent().parent();
            $(block).remove();
                
            })
        $('.supprimer2').click(function(){
            let block = $(this).parent().parent().parent();
        $(block).remove();
            
        })

        function min(cla, val1) {
            let ele = cla;
            let titre = $(ele).prev().text();
            if(titre !== "Min" || titre !== "Achat"){
                return false;
            }
            
            var eleVal = ele.val();
            var nexEle = $(ele).parent().parent().next().children().find('input');
            var nexEleLabel = $(ele).parent().parent().next().children().find('label');
                    
            var nextInputVal = $(nexEle[0]).val();
            var nextLabel = $(nexEleLabel).text();
            eleVal = parseInt(eleVal);
            
            nextInputVal = parseInt(nextInputVal);
            if(titre.includes(val1)){
                if(titre.includes(val1) && nextLabel.includes(val2)){
                    if(nextInputVal >= eleVal ){
                        $(ele).attr("data-verif","OK");
                        $(nexEle[0]).attr("data-verif","OK");
                    }
                }
            }
        }


        function addFormCollection(e, parentHolder = null) {
           
           var collectionHolder = document.querySelector('.' + e);
           if(parentHolder){
                collectionHolder = parentHolder.querySelector('.' + e);
           }

            const item = document.createElement('div');
            item.classList.add('el');

            var prototype = collectionHolder.dataset.prototype;
            var index = collectionHolder.dataset.index;
            index = parseInt(index);

            if( e == 'conditionnerCateClients'){
                parentHolder.querySelector('.conditionnerCateClients').dataset.index = index + 1;
                
                item.innerHTML = collectionHolder.dataset.prototype.replace( /_subname_/g,collectionHolder.dataset.index);
                collectionHolder.appendChild(item);
            }else{
                    collectionHolder.dataset.index = index + 1;
                    item.innerHTML = prototype.replace(/_name_/g,index);
                    collectionHolder.appendChild(item);
                            $("select[name*='[conditionnement]']").change(function(){
                                let option = $(this).find('option:selected');
                                let qteCond = String($(option).attr("data-qte")); 
                                let input = $($(this).parent().parent()).next().children().find('input');
                                $(input[0]).val(qteCond);
                            });
            }
            $(".format").keyup(function(){
                this.value = this.value.replace(/[^0-9\.]/g,'');
                let va = parseFloat($(this).val());
                if(va == 0 || isNaN(va) ){
                $(this).val(""); 
                }else{
                    $(this).val(new Intl.NumberFormat('fr-FR').format(va))
                }
            });

            addTagFormDeleteLink(item);
            index++;

            $(item.querySelector("select")).select2();
            
                if( e == 'conditionners'){
                    item.querySelectorAll('.add_item_link2').forEach(btn => {
                            const btnAttr = btn.getAttribute('data-collection-holder-class');
                        btn.addEventListener('click', function(){addFormCollection(btnAttr,btn.closest('.el'))});
                        const holders2 = document.querySelectorAll('.' + btn.dataset.collectionHolderClass);
                        
                        holders2.forEach(h => {
                            const element = h.querySelectorAll('ell');
                            element.forEach(tr => {
                                addTagFormDeleteLink2(tr);
                            });
                        });
                    });
                }
            
        };

        const addTagFormDeleteLink = (item) => {
             
            const removeFormButton = item.querySelector('.supprimer');
            removeFormButton.addEventListener('click', (e) => {
                e.preventDefault();
                item.remove();
            });
        }


        document.querySelectorAll('.add_item_link').forEach(btn => {
            const btnAttr = btn.getAttribute('data-collection-holder-class');
            btn.addEventListener('click', function(){addFormCollection(btnAttr)});
            const holders = document.querySelectorAll('.' + btn.dataset.collectionHolderClass);
            holders.forEach(h => {
                const element = h.querySelectorAll('el');
                element.forEach(tr => {
                    addTagFormDeleteLink(tr);
                });
            });
        });

        document.querySelectorAll('.add_item_link2').forEach(btn => {
            
            const btnAttr = btn.getAttribute('data-collection-holder-class');
            btn.addEventListener('click', function(){addFormCollection(btnAttr,btn.closest('.card-body'))});
            const holders2 = document.querySelectorAll('.' + btn.dataset.collectionHolderClass);
            
            holders2.forEach(h => {
                const element = h.querySelectorAll('ell');
                element.forEach(tr => {
                    addTagFormDeleteLink2(tr);
                });
            });
        });

    </script>
{% endblock %}