                <div class="form-group row">
                    <div class="col-6">
                        {{ form_label(form.email) }}
                        {{ form_widget(form.email) }}
                        </div>
                    <div class="col-6">
                        {{ form_label(form.username) }}
                        {{ form_widget(form.username) }}
                    </div>
                    <div class="col-6">
                        {{ form_label(form.nom) }}
                        {{ form_widget(form.nom) }}
                    </div>
                    <div class="col-6">
                        {{ form_label(form.prenom) }}
                        {{ form_widget(form.prenom) }}
                    </div>
                    <div class="col-6">
                        {{ form_label(form.telephone) }}
                        {{ form_widget(form.telephone) }}
                        </div>
                    <div class="col-6">
                        {{ form_label(form.adresse) }}
                        {{ form_widget(form.adresse) }}
                        </div>
                    <div class="col-6">
                        {{ form_label(form.password.first) }}
                        {{ form_widget(form.password.first) }}
                    </div>
                    <div class="col-6">
                        {{ form_label(form.password.second) }}
                        {{ form_widget(form.password.second) }}
                    </div>
                    <div class="col-6">
                        {{ form_label(form.userRoles) }}
                        {{ form_widget(form.userRoles) }}
                    </div>
                    <div class="col-6">
                        {{ form_label(form.file) }}
                        {{ form_widget(form.file) }}
                    </div>
                </div>