
        <div class="col-12">
            <div data-kt-buttons="true">
                {% for child in form.statut.children %}
                    <label for="{{ child.vars.id }}" class="btn btn-outline btn-outline-dashed flex-stack text-start py-2 px-4">
                        <div class="d-flex align-items-center me-2">
                            <div class="form-check form-check-custom form-check-solid form-check-primary me-2">
                                {{ form_widget(child, {'attr': {'class': 'form-check-input'} }) }}
                            </div>
                            <div class="flex-grow-1">
                                <h5 class="d-flex align-items-center fs-3 pt-2 fw-bolder flex-wrap">
                                    {{ child.vars.label }}
                                </h5>
                            </div>
                        </div>
                    </label>
                {% endfor %}
            </div>
        </div><br>

        <div class="row">
            <div class="mb-5 fv-row fv-plugins-icon-container col">
                {{ form_row(form.nom) }}
                {# {{ form_widget(form.nom) }} #}
                <div class="fv-plugins-message-container invalid-feedback"></div>
            </div>
            <div class="mb-5 fv-row fv-plugins-icon-container col">
                {{ form_label(form.prenom) }}
                {{ form_widget(form.prenom) }}
            </div>
        </div>
        <div class="mb-5 fv-row fv-plugins-icon-container">
            {{ form_label(form.denomination) }}
            {{ form_widget(form.denomination) }}
            <div class="fv-plugins-message-container invalid-feedback"></div>
        </div>
        <div class="mb-5 fv-row fv-plugins-icon-container">
            {{ form_label(form.raisonSociale) }}
            {{ form_widget(form.raisonSociale) }}
            <div class="fv-plugins-message-container invalid-feedback"></div>
        </div>
        <div class="row">
            <div class="mb-5 fv-row fv-plugins-icon-container col">
                {{ form_label(form.sigle) }}
                {{ form_widget(form.sigle) }}
                <div class="fv-plugins-message-container invalid-feedback"></div>
            </div> 
            <div class="mb-5 fv-row fv-plugins-icon-container col">
                {{ form_label(form.ifu) }}
                {{ form_widget(form.ifu) }}
                <div class="fv-plugins-message-container invalid-feedback"></div>
            </div>
        </div>
        <div class="mb-5 fv-row fv-plugins-icon-container">
            {{ form_label(form.rccm) }}
            {{ form_widget(form.rccm) }}
            <div class="fv-plugins-message-container invalid-feedback"></div>
        </div>
        <div class="mb-5 fv-row fv-plugins-icon-container">
            {{ form_label(form.adresse) }}
            {{ form_widget(form.adresse) }}
            <div class="fv-plugins-message-container invalid-feedback"></div>
        </div>
        <div class="mb-5 fv-row fv-plugins-icon-container">
            {{ form_label(form.email) }}
            {{ form_widget(form.email) }}
            <div class="fv-plugins-message-container invalid-feedback"></div>
        </div> 
        <div class="row">
            <div class="mb-5 fv-row fv-plugins-icon-container col">
                {{ form_label(form.telephone1) }}
                {{ form_widget(form.telephone1) }}
                <div class="fv-plugins-message-container invalid-feedback"></div>
            </div> 
            <div class="mb-5 fv-row fv-plugins-icon-container col">
                {{ form_label(form.telephone2) }}
                {{ form_widget(form.telephone2) }}
                <div class="fv-plugins-message-container invalid-feedback"></div>
            </div>
        </div>
         
        <div class="row">
            <div class="mb-5 fv-row fv-plugins-icon-container col">
                {{ form_label(form.dateNais) }}
                {{ form_widget(form.dateNais) }}
                <div class="fv-plugins-message-container invalid-feedback"></div>
            </div> 
        </div>
        <div class="card shadow-sm my-5">
    <div class="card-header collapsible cursor-pointer rotate" data-bs-toggle="collapse" data-bs-target="#kt_caisse_car_dcollapsible">
        <h3 class="card-title">Adresse de livraison</h3>
        <div class="card-toolbar rotate-180">
            <span class="svg-icon svg-icon-1">
               
            </span>
        </div>
    </div>
    {# <div id="kt_caisse_car_dcollapsible" class="collapse show">
        <div class="card-body collection-form " data-index="{{ form.adresseLivraisons|length > 0 ? form.adresseLivraisons|last.vars.name + 1 : 0 }}"
            data-prototype="{% autoescape 'html' %}{{ include('client/partials/_adresse_livraison.prototype.html.twig',
            { 'form': form.adresseLivraisons.vars.prototype, 'class':'AdresseLivraison' })|escape }}{% endautoescape %}">
            {% if form.adresseLivraisons | length > 0 %}
                {% for key, p in form.adresseLivraisons %}
                    {% if key > 0 %}
                        {% set length = form.adresseLivraisons|length %}
                        {{ include('client/partials/_adresse_livraison.prototype.html.twig',
                            { 'form': p, 'length':length }) }}
                    {% else %}
                        {{ include('client/partials/_adresse_livraison.prototype.html.twig',
                            { 'form': p }) }}
                    {% endif %}
                {% endfor %}
            {% else %}
                {{ form_row(form.adresseLivraisons) }}
            {% endif %}  
        </div>
        <div class="modal-footer">
             <div class="form-group">
                <a href="javascript:;" class="btn btn-light-primary add_caisse_item_link" data-collection-holder-class="collection-form">
                    <i class="la la-plus"></i>Ajouter une adresse de livraison
                </a>
            </div>
		</div>
    </div> #}
    </div>
        <div class="mb-5 fv-row fv-plugins-icon-container">
            <!--begin::Button-->
                <button type="reset" data-kt-cond-type="cancel" class="btn btn-light me-3">Vider</button>
            <!--end::Button-->
            <button type="submit" class="btn btn-primary">Enregistrer</button>
        </div>

    </div>

