            <div class="form-group">
                <div class="row">
                    <div class="col-12">
                        <div data-kt-buttons="true">
                            {% for child in form.statut.children %}
                                <label for="{{ child.vars.id }}" class="btn btn-outline btn-outline-dashed flex-stack text-start py-2 px-4">
                                    <div class="d-flex align-items-center me-2">
                                        <div class="form-check form-check-custom form-check-solid form-check-primary me-2">
                                            {{ form_widget(child, {'attr': {'class': 'form-check-input'} }) }}
                                        </div>
                                        <div class="flex-grow-1">
                                            <h5 class="d-flex align-items-center fs-3 pt-2 fw-bolder flex-wrap">
                                                {{ child.vars.label }}
                                            </h5>
                                        </div>
                                    </div>
                                </label>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-6">
                        {{ form_label(form.cateClient) }}
                        {{ form_widget(form.cateClient) }}
                        {# <span class="form-text text-muted">Renseignez un libellé significatif pour vous.</span> #}
                    </div>
                    <div class="col-6">
                        {{ form_label(form.nom) }}
                        {{ form_widget(form.nom) }}
                        {# <span class="form-text text-muted">Renseignez un code significatif pour vous.</span> #}
                    </div>
                    <div class="col-6">
                        {{ form_label(form.prenom) }}
                        {{ form_widget(form.prenom) }}
                        {# <span class="form-text text-muted">Renseignez un libellé significatif pour vous.</span> #}
                    </div>
                    <div class="col-6">
                        {{ form_label(form.denomination) }}
                        {{ form_widget(form.denomination) }}
                        {# <span class="form-text text-muted">Renseignez un libellé significatif pour vous.</span> #}
                    </div>
                    <div class="col-6">
                        {{ form_label(form.raisonSociale) }}
                        {{ form_widget(form.raisonSociale) }}
                        {# <span class="form-text text-muted">Renseignez un libellé significatif pour vous.</span> #}
                    </div>
                    <div class="col-6">
                        {{ form_label(form.sigle) }}
                        {{ form_widget(form.sigle) }}
                        {# <span class="form-text text-muted">Renseignez un libellé significatif pour vous.</span> #}
                    </div>
                    <div class="col-6">
                        {{ form_label(form.ifu) }}
                        {{ form_widget(form.ifu) }}
                        {# <span class="form-text text-muted">Renseignez un libellé significatif pour vous.</span> #}
                    </div>
                    <div class="col-6">
                        {{ form_label(form.rccm) }}
                        {{ form_widget(form.rccm) }}
                        {# <span class="form-text text-muted">Renseignez un libellé significatif pour vous.</span> #}
                    </div>
                    <div class="col-6">
                        {{ form_label(form.adresse) }}
                        {{ form_widget(form.adresse) }}
                        {# <span class="form-text text-muted">Renseignez un code significatif pour vous.</span> #}
                    </div>
                    <div class="col-6">
                        {{ form_label(form.email) }}
                        {{ form_widget(form.email) }}
                        {# <span class="form-text text-muted">Renseignez un libellé significatif pour vous.</span> #}
                    </div>
                     <div class="col-6">
                        {{ form_label(form.telephone1) }}
                        {{ form_widget(form.telephone1) }}
                        {# <span class="form-text text-muted">Renseignez un code significatif pour vous.</span> #}
                    </div>
                    <div class="col-6">
                        {{ form_label(form.telephone2) }}
                        {{ form_widget(form.telephone2) }}
                        {# <span class="form-text text-muted">Renseignez un libellé significatif pour vous.</span> #}
                    </div>
                    <div class="col-6">
                        {{ form_label(form.dateNais) }}
                        {{ form_widget(form.dateNais) }}
                        {# <span class="form-text text-muted">Renseignez un libellé significatif pour vous.</span> #}
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <button type="submit" id="soum" class="btn btn-primary mr-2">Enregistrer</button>
            <a type="button" href="{{ path('app_client_index') }}" class="btn btn-secondary">Retour</a>
        </div>