{% extends 'base.html.twig' %}

{% block title %}Liste des Clients{% endblock %}

{% block content %}
    <!--begin::Card-->
        <div class="card card-custom">
            <div class="card-header">
                <div class="card-title">
                    <span class="card-icon">
                        <i class="flaticon2-image-file text-primary"></i>
                    </span>
                    <h3 class="card-label">Clients</h3>
                </div>
                <div class="card-toolbar">
                    <a  href="{{ path("app_client_new") }}" class="btn btn-primary font-weight-bolder">
                    <span class="svg-icon svg-icon-md">
                        <!--begin::Svg Icon | path:/metronic/theme/html/demo1/dist/assets/media/svg/icons/Design/Flatten.svg-->
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <rect x="0" y="0" width="24" height="24" />
                                <circle fill="#000000" cx="9" cy="15" r="6" />
                                <path d="M8.8012943,7.00241953 C9.83837775,5.20768121 11.7781543,4 14,4 C17.3137085,4 20,6.6862915 20,10 C20,12.2218457 18.7923188,14.1616223 16.9975805,15.1987057 C16.9991904,15.1326658 17,15.0664274 17,15 C17,10.581722 13.418278,7 9,7 C8.93357256,7 8.86733422,7.00080962 8.8012943,7.00241953 Z" fill="#000000" opacity="0.3" />
                            </g>
                        </svg>
                        <!--end::Svg Icon-->
                    </span>Nouveau</a>
                    <!--end::Button-->
                </div>
            </div>
            <div class="card-body">
                <!--begin: Datatable-->
                <table class="table table-separate table-head-custom table-foot-custom table-checkable" id="datatable" style="margin-top: 13px !important">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Dénomination</th>
                            <th>Adresse</th>
                            <th>Email</th>
                            <th>Telephone</th>
                            <th>RaisonSociale</th>
                            <th>Ifu</th>
                            <th>Statut</th>
                            <th>actions</th>
                        </tr>
                    </thead>
                        <tbody>
                        {% if clients is defined and clients is not empty %}
                            {% for client in clients %}
                                <tr>
                                    <td>{{ client.id }}</td>
                                    <td>{% if client.statut == "Physique"%}{{ client.nom ~ " " ~ client.prenom}} {% else %} {{ client.denomination }} {% endif %}</td>
                                    <td>{{ client.adresse }}</td>
                                    <td>{{ client.email }}</td>
                                    <td>{{ client.telephone1 }}</td>
                                    <td>{{ client.raisonSociale }}</td>
                                    <td>{{ client.ifu }}</td>
                                    <td>{{ client.statut }}</td>
                                    <td>
                                        <div class="dropdown dropdown-inline">
                                            <button type="button" class="btn btn-light-primary btn-icon btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="ki ki-bold-more-ver"></i>
                                            </button>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item text-center text-capitalize" href="{{ path('app_client_show', {'id': client.id}) }}">Plus</a>
                                                <a class="dropdown-item text-center text-capitalize" href="{{ path('app_client_edit', {'id': client.id}) }}">Modifier</a>
                                                {{ include('client/_delete_form.html.twig') }}
                                            </div>
                                        </div>

                                        
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="15">no records found</td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                    </tbody>
                </table>
                <!--end: Datatable-->
            </div>
        </div>
    <!--end::Card-->
{% endblock %}
{% block javascripts %}
{{ parent() }}
    <script>
        $('.table').DataTable({
                language: {
                    search:         "CHERCHER",
                    lengthMenu:    "AFFICHER _MENU_ ELEMENTS",
                    info:           "AFFICHAGE DE _START_ A _END_ SUR _TOTAL_ ENREGISTREMENTS",
                    infoEmpty:      "AFFICHAGE DE 0 A 0 SUR 0 ENREGISTREMENT",
                    loadingRecords: "CHARGEMENT...",
                    zeroRecords:    "AUCUN ELEMENT A AFFICHER",
                    emptyTable:     "AUCUN ENREGISTREMENT TROUVE",
                    paginate: {
                        "sFirst":      "<<",
                        previous:   "<",
                        next:       ">",
                        "sLast":       ">>"
                    },
                    aria: {
                        sortAscending:  ": activer pour trier la colonne par ordre croissant",
                        sortDescending: ": activer pour trier la colonne par ordre décroissant"
                    }
                    
                },
}
);
    </script>
{% endblock %}
