{% extends 'base.html.twig' %}

{% block title %}Client{% endblock %}
{% block pageActive %}  {% endblock %}
{% block content %}
    <div class="row">
        <div class="col-12">
            <!--begin::List Widget 9-->
                <div class="card card-custom card-stretch gutter-b">
                    <!--begin::Header-->
                    <div class="card-header align-items-center border-0 mt-4">
                        <h3 class="card-title align-items-start flex-column">
                            <span class="font-weight-bolder text-dark">Détail d'un client</span>
                            <span class="text-muted mt-3 font-weight-bold font-size-sm">SOMIMAS</span>
                        </h3>
                        <div class="card-toolbar">
                            <div class="dropdown dropdown-inline">
                                <a href="#" class="btn btn-clean btn-hover-light-primary btn-sm btn-icon" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="ki ki-bold-more-hor"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!--end::Header-->
                    <!--begin::Body-->
                    <div class="card-body pt-12">
                        <!--begin::Timeline-->
                        <!--begin::Form-->
                       
                        <table class="table">
                            <tbody>
                                <tr>
                                    <th>Id</th>
                                    <td>{{ client.id }}</td>
                                </tr>
                                <tr>
                                    <th>Nom</th>
                                    <td>{{ client.nom }}</td>
                                </tr>
                                <tr>
                                    <th>Prenom</th>
                                    <td>{{ client.prenom }}</td>
                                </tr>
                                <tr>
                                    <th>Adresse</th>
                                    <td>{{ client.adresse }}</td>
                                </tr>
                                <tr>
                                    <th>Email</th>
                                    <td>{{ client.email }}</td>
                                </tr>
                                <tr>
                                    <th>Telephone1</th>
                                    <td>{{ client.telephone1 }}</td>
                                </tr>
                                <tr>
                                    <th>Telephone2</th>
                                    <td>{{ client.telephone2 }}</td>
                                </tr>
                                <tr>
                                    <th>RaisonSociale</th>
                                    <td>{{ client.raisonSociale }}</td>
                                </tr>
                                <tr>
                                    <th>Ifu</th>
                                    <td>{{ client.ifu }}</td>
                                </tr>
                                <tr>
                                    <th>Rccm</th>
                                    <td>{{ client.rccm }}</td>
                                </tr>
                                <tr>
                                    <th>Sigle</th>
                                    <td>{{ client.sigle }}</td>
                                </tr>
                                <tr>
                                    <th>Denomination</th>
                                    <td>{{ client.denomination }}</td>
                                </tr>
                                <tr>
                                    <th>Statut</th>
                                    <td>{{ client.statut }}</td>
                                </tr>
                                <tr>
                                    <th>DateNais</th>
                                    <td>{{ client.dateNais ? client.dateNais|date('Y-m-d H:i:s') : '' }}</td>
                                </tr>
                            </tbody>
                        </table>
                        <!--end::Form-->
                        <!--end::Timeline-->
                    </div>
                    <!--end: Card Body-->
                </div>
            <!--end: List Widget 9-->
        </div>
    </div>

    <a href="{{ path('app_client_index') }}">back to list</a>

    <a href="{{ path('app_client_edit', {'id': client.id}) }}">edit</a>

    {{ include('client/_delete_form.html.twig') }}
{% endblock %}
