{# {{ form_start(form) }} #}
    {# {{ form_widget(form) }} #}
    
        <div class="form-group">
            <div class="row">

                <div class="col-4">
                    <div class="form-group">
                        {{ form_label(form.code) }}
                        {{ form_widget(form.code) }}
                        <span class="form-text text-muted">Renseigner un code de 4 caractères au plus</span>
                    </div>
                </div>
                <div class="col-8">
                    <div class="form-group">
                        {{ form_label(form.libelle) }}
                        {{ form_widget(form.libelle) }}
                        <span class="form-text text-muted">Renseigner un libellé significatif</span>
                    </div>
                </div>
                
                <div class="col-12">
                    <div class="form-group">
                        {{ form_label(form.qte) }}
                        {{ form_widget(form.qte) }}
                        <span class="form-text text-muted">Renseigner une quantité</span>
                    </div>
                </div>
            </div>
        </div>

   
    {# {{ form_end(form) }} #}