{# {{ form_start(form) }} #}
    {# {{ form_widget(form) }} #}
    
        <div class="form-group">
            <div class="row">
                <div class="col-12">
                    {{ form_widget(form.id) }}
                </div>
                <div class="col-12">
                    {{ form_label(form.code) }}
                    {{ form_widget(form.code) }}
                    <span class="form-text text-muted">Renseignez un code significatif pour vous.</span>
                </div>
                <div class="col-12">
                    {{ form_label(form.libelle) }}
                    {{ form_widget(form.libelle) }}
                    <span class="form-text text-muted">Renseignez un libellé significatif pour vous.</span>
                </div>
                
                <div class="col-12">
                    {{ form_label(form.qte) }}
                    {{ form_widget(form.qte) }}
                    <span class="form-text text-muted">Renseignez un libellé significatif pour vous.</span>
                </div>
            </div>
        </div>

   
    {# {{ form_end(form) }} #}