{# {{ form_start(form) }} #}
    {# {{ form_widget(form) }} #}

        <div class="form-group">
            <div class="row">
             <div class="col-12">
                    {{ form_widget(form.id) }}
                </div>
                <div class="col-12">
                    {{ form_label(form.code) }}
                    {{ form_widget(form.code) }}
                    <span class="form-text text-muted">Renseignez un code significatif pour vous.</span>
                </div>
                <div class="col-12">
                    {{ form_label(form.libelle) }}
                    {{ form_widget(form.libelle) }}
                    <span class="form-text text-muted">Renseignez un libellé significatif pour vous.</span>
                </div>
            </div>
        </div>
    <div class="card-footer">
        <button type="submit" id="soum" class="btn btn-primary mr-2">{{ button_label|default('Enregistrer') }}</button>
        {# <button type="submit" class="btn btn-primary mr-2">Enregistrer</button> #}
        <button type="reset" id="reset" class="btn btn-secondary">Annuler</button>
    </div>

    {# {{ form_end(form) }} #}