{# {{ form_start(form) }} #}
    {# {{ form_widget(form) }} #}

        <div class="form-group">
            <div class="row">
             <div class="col-12">
                    {{ form_widget(form.id) }}
                </div>
                <div class="col-4">
                    {{ form_label(form.code) }}
                    {{ form_widget(form.code) }}
                </div>
                <div class="col-8">
                    {{ form_label(form.libelle) }}
                    {{ form_widget(form.libelle) }}
                </div>
            </div>
        </div>
    <div class="card-footer p-0 pt-3">
        <button type="submit" id="soum" class="btn btn-primary mr-2">{{ button_label|default('Enregistrer') }}</button>
        {# <button type="submit" class="btn btn-primary mr-2">Enregistrer</button> #}
        <button type="reset" onclick="vidage()"  class="btn btn-secondary">Vider</button>
    </div>

    {# {{ form_end(form) }} #}